.favorites{ background-image:url("../images/befunkycollage.jpg");
     background-size:contain;
     background-repeat:repeat;
     width:80%;
     height:80%;
    
}

p{
    font-family:Georgia;
    font-size:25px;
    color:Cyan;
    text-align:center;
}



.btn3{
    background-color:Cyan;
    border:none;
    color:white;
}